:root {
  --primary-color: #606c38;
  --secondary-color: #dda15e;
  --accent-color: #bc6c25;
  --background-color: #fefae0;
  --text-color-light: #fefae0;
  --text-color-dark: #283618;
  --button-color: #bc6c25;
  --border-color: #bc6c25;
}