.page-title {
  font-size: xx-large;
  font-weight: bolder;
  color: #606c38;
}

.block-title {
  font-size: x-large;
  font-weight: bold;
  color: #606c38;
}

.section-title {
  font-size: large;
  font-weight: bold;
  color: #606c38;
}